/* .TableRow{
    color: rgb(239, 94, 16);
    background-color: aliceblue;
   

}


 */

/* .title{


} */
/* 


.action{
margin-right: 10px;
} */

.user{
    margin-left: 750px;
    width: 120px;
    height: 30px;
    background-color:greenyellow;
    color: black;
    margin-top: 0px;
}

.search{
    
    margin-left: 550px;

}
/* .form{
    width: 1250px;
    height: 550px;
    margin: auto;
    

} */