.form{
    width:980px;
    height: 750px;
    flex-direction: column;
margin: auto;
    text-align: center;
    
      }
.content{
   margin: auto;
    margin-top: 23px;
    text-align: center;
}

.table {
    background: #42515f;
    color:black;
    height: 40px;
    width: 254px;
    text-align: center;
    text-align: center;
    
    
      }

.title{
    margin-top: 70px;
    text-align: left;
    
    color: #42515f;
    
}

.search{
    font: Roboto, bold;
    font-size: 28px;
    width: 100px;
    background-color: rgb(228, 228, 240);
    color: 'black';
    flex-grow: 1;
    border: #42515f;
    
}

.user{
    width: 100px;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 700px;
    background-color: greenyellow;
    font-size: 18px;
    color: white;
}

.row {
    
    background:whitesmoke;
    color: #42515f;
    height: 40px;
    width: 254px;
    text-align: center;
    
      }

.profile_img{
    width: 14px;
    height: 14px;
    align-items: center;
    margin-left: 40px;
    /* background-image: url("./icon.png"); */
      }

.Logo {
    width: 1px;
    height: 1px;
        /* background-image: url(./icon.png); */
        
      }

      
        
      